@font-face {
  font-family: 'Squada One';
  src: url('../fonts/Pacifico.ttf') format("truetype");
  font-weight: 400;
}

// Page Fonts loading

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #fff;
  font-weight: normal;
}

h2 {
  font-size: 2em;
}

.game-title {
  font-size: 4em;
  font-family: 'Squada One', sans-serif;
  color: #fff;
}

.game-icons {
  color: #fff;
  font-family: 'memory-game';
}

.time-counter {
  color: #fff;
}

.icon {
  font-family: 'memory-game';
  color: #fff;
}

.game-card {
  font-family: 'memory-game';
  color: #fff;
}

.game-icon {
  font-family: 'memory-game';
  font-size: 2em;
}
